@charset "UTF-8";
/* CSS Document */

@keyframes change-background{
	0% {background: #7D8DC3;}
	50% {background: #1E82AE;}
	100% {background: #284588;}
}
.banner {
	height: 150px;
	width: auto;
	background-color: orange;
	animation-name: musika-banner;
	animation-duration: 3s;
}
@keyframes musika-banner {
	0% {background: orange;}
	50% {background: red;}
	100% {background: yellow;}
}
h1 {
	padding: 5%;
	color: white;
	font-family: 'Oswald', sans-serif;
}
p {
	padding: 3%;
	color: limegreen;
	font-family: 'Oswald', sans-serif;
}
h3 {
	padding: 5%;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.box {
	width: 20px;
	height: 20px;
	background: black;
	margin: 5%;
}
.striber {
	display: flex;
}

